      <div class="cl-mcont">

        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="block-flat">

              <div class="content">

    <table class="no-border">
        <tbody class="no-border-y">
{{#with _embedded}}

{{> teams/teamselectbox}}

{{#with rel:players}}
{{#each this}}

            <tr>
                <td>{{name}}</td>
            </tr>

{{/each}}
{{/with}}
{{/with}}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

