<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>two-nil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="nine columns"><h1><a href="/">two-nil</a></h1></div>
            <div class="three columns"></div>
        </div>

        <div class="row">
            <div class="two columns">
                <ul>
                    {{#if _links}} {{#each _links}} {{#if title}}
                    <li>
                        <a href="{{href}}">{{title}}</a>
                    </li>
                    {{/if}} {{/each}} {{/if}}
                </ul>
            </div>
            <div class="ten columns">
                {{{body}}}
            </div>
        </div>

    </div>

</body>

</html>